[submodule "third_party/logging"]
	path = third_party/logging
	url = https://krr-app-gitlab01.europe.mittalco.com/pait/modules/go/logging.git
	branch = main_v2

[submodule "third_party/authorization"]
	path = third_party/authorization
	url = https://krr-app-gitlab01.europe.mittalco.com/pait/modules/go/authorization.git
	branch = main_v2
