<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <cors enabled="true" failUnlistedOrigins="true" xdt:Transform="Insert">
      <add origin="https://*.europe.mittalco.com" allowCredentials="true" >
        <allowMethods>
          <add method="GET" />
          <add method="POST" />
          <add method="PUT" />
          <add method="DELETE" />
        </allowMethods>
      </add>
      <add origin="http://localhost:8080" allowCredentials="true" >
        <allowMethods>
          <add method="GET" />
          <add method="POST" />
          <add method="PUT" />
          <add method="DELETE" />
        </allowMethods>
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="Origin" />
          <add header="Content-Type" />
          <add header="Accept" />
        </allowHeaders>
        <exposeHeaders>
          <add header="Access-Control-Allow-Origin" />
          <add header="Access-Control-Allow-Headers" />
          <add header="Access-Control-Allow-Methods" />
        </exposeHeaders>
      </add>
    </cors>
    <httpProtocol>
      <customHeaders xdt:Transform="Insert">
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Athorization, ActualUserOrImpersonatedUserSamAccount, IsImpersonatedUser" />
      </customHeaders>
    </httpProtocol>
    <aspNetCore>
      <environmentVariables xdt:Transform="Replace">
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
