<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <httpProtocol>
      <customHeaders xdt:Transform="Insert">
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, content-lenght" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Vary" value="" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
